<style>
#events_page {
    width: 90%;
    min-width: 500px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: outset;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 25px;
    border-radius: 20px;
}

table th{
  padding: 0 30px;
  border-bottom: double;
}

tbody td{
  padding: 0 30px;
}

.num-tickets {
  text-align: center;
}
</style>

<p>Your TicketList is waiting for you. Click on the thumbnail of an event to find out more.</p>

<div id="events_page">
  <% if user_signed_in? %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Event type</th>
      <th>Date</th>
      <th>Time</th>
      <th>Venue</th>
      <th>Available tickets</th>
      <th>Total tickets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.event_type %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= event.venue %></td>
        <td class="num-tickets"><%= event.available_tickets %></td>
        <td class="num-tickets"><%= event.total_tickets %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %><br><br><p>Want to see your booked tickets? <%= link_to 'View now.', tickets_path %></p>
  <% else %>
	An online ticket booking web application.
  <% end %>
</div>