<style>
  #event {
    width: 90%;
    min-width: 500px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: outset;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 25px;
    border-radius: 20px;
  }
</style>

<div id="event">

<p>All ticket sales are final.</p>

<p><%= image_tag @event.photo.url(:medium) %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type %>

</p>

<% Time.zone = 'MST' %>
<p>
  <strong>Date and time:</strong>
   <%= @event.datetime.strftime("%m/%d/%Y %I:%M%p") %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Available tickets:</strong>
  <%= @event.available_tickets %>
</p>

<p>
  <strong>Total tickets:</strong>
  <%= @event.total_tickets %>
</p>

<p>
  <%= form_tag(tickets_path, :method => :post) do %>
  <%= hidden_field(:ticket, :event_id, :value => @event.id) %>
  <% if @event.available_tickets == 0 %>
    No more available tickets.
  <% else %>
    <%= number_field(:ticket, :num_booked, value: 1, in: 1...@event.available_tickets+1) %>
    <%= submit_tag("Book") %>
  <% end %>
<% end %>

</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

</div>

