<style>
#tickets_page {
    width: 90%;
    min-width: 500px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: outset;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 25px;
    border-radius: 20px;
}

table {
  width: 90%;
}

table th{
  border-bottom: double;
}

tbody td{
  padding: 0 30px;
}

.num-tickets {
  text-align: center;
}

#caption1{
  margin-left: 5%;
}
</style>

<div id="tickets_page">
<% Time.zone = 'MST' %>

<p>Your booked tickets are listed by event time.</p>

<table>
  <% if !@tickets.empty? %>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Event type</th>
        <th>Date and time</th>
        <th>Venue</th>
        <th>Number of tickets booked</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <% else %>
    There are no tickets. Book a ticket from an event.
  <% end %>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <% event = Event.find(ticket.event_id) %>
        <td><%= link_to (image_tag event.photo.url(:small)), event %></td>
        <td><%= event.title %></td>
        <td><%= event.event_type %></td>
        <td><%= event.datetime.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td><%= event.venue %></td>
        <td><%= ticket.num_booked %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<br>
<br>

<p>Want more new and exciting events? <%= link_to 'View now.', events_path %></p>

</div>