<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event %>
</p>

<p>
  <strong>Num booked:</strong>
  <%= @ticket.num_booked %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
